<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
  </head>
  <body>
    <p>Hi <b>{{name}}</b> ,</p>
    <p>
      You have successfully registered with our program. Details regarding the
      program will be sending soon. Stay in touch with us.
    </p>

    <p>Thanks, <br />Program admin</p>
  </body>
</html>
